html .something > foobar[something=x] #xb {
  color: white;
}

.foo-bar .something2:before, #something[title*=foo]:hover  {
  color: white;
}

/* nukecss:disable */
.totally-unused {
  color: white;
}
/* nukecss:enable */

@media (min-width: 240px) {
  .something3 {
    color: white;
  }
}

.something {
  color: white;
}
